* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
height: 100vh;
width: 100vw;
}
#mapid {
height: 480px;
width: 95vw;
display: flex;
align-items: center;
margin: auto;
border: 1px solid black;
}